html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* body không scroll */
}

#root,
.app-wrapper {
    height: 100%;
}

/* CHỈ app-main được scroll */
.app-main {
    height: calc(100vh - 56px); /* header */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Sidebar không bị cắt */
.main-sidebar .sidebar {
    height: calc(100vh - 56px);
    overflow-y: auto;
}
